body {
    background: url(/src/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center;
    width: 100%;
    height: 100%;
}
.container {
    width: 80%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.main {
    height: 100%;
    &__header {
        margin-top: 3%;
        width: 80%;
        height: 4rem;
        margin-left: 23%;
        display: flex;
        justify-content: center;
        
        align-items: center;
        background: rgba(70, 138, 199, 0.6);
        &-btn {
            border: none;
            background: transparent;
            font-weight: 400;
            font-size: 16px;
            line-height: 157%;
            color: #FFFFFF;
            letter-spacing: 4px;
            cursor: pointer;
            margin-right: 100px;
            margin-left: 100px;
            &:hover {
                text-shadow: 7px 7px 6px rgba(0, 0, 0, 0.53);
            }
        }
    }
    &__content {
        display: flex;
        position: absolute;
        margin-left: 8%;
        height: 70%;
        &-circle {
            position: relative;
            width: 25%;
            &-first {
                position: relative;
                top: 59%;
                left: 1%;
                .smooth {
                    transition: opacity 2s;
                }
                .card_one {
                    position: relative;
                    top: -60%;
                    left: -100rem;
                    opacity: 0;
                    transition: opacity 2s, left 2s;
                    padding: 10px;
                    width: 395px;
                     height: 257px;
                    background: rgba(196, 196, 196, 0.43);
                    .dog_mini {
                        position: absolute;
                        top: 1%;
                        right: 1%;
                    }
                    &-text {
                        color: #fff;
                        font-size: 20px;
                        
                    }
                }
                .card_one-show {
                    left: -4%;
                    opacity: 1;
                    transition: left 2s, opacity 2s;
                }
            }
            &-sec {
                position: relative;
                top: 6%;
                left: 4%;
                .wire {
                    transition: opacity 2s;
                }
                .card_two {
                    left: -100rem;
                    opacity: 0;
                    position: relative;
                    transition: opacity 2s, left 2s;
                    top: -60%;
                    padding: 10px;
                    width: 395px;
                     height: 257px;
                    background: rgba(196, 196, 196, 0.43);
                    .dog_mini {
                        position: absolute;
                        top: 1%;
                        right: 1%;
                    }
                    &-text {
                        color: #fff;
                        font-size: 20px;
                        
                    }
                }
                .card_two-show {
                    left: -4%;
                    opacity: 1;
                    transition: left 2s, opacity 1s;
                }
            }
            &-thrd {
                position: relative;
                top: 69%;
                left: -3%;
                .long {
                    transition: opacity 2s;
                }
                .card_three {
                    position: relative;
                    transition: opacity 2s, left 2s;
                    top: -60%;
                    left: -100rem;
                    opacity: 0;
                    padding: 10px;
                    width: 395px;
                     height: 257px;
                    background: rgba(196, 196, 196, 0.43);
                    .dog_mini {
                        position: absolute;
                        top: 0;
                        right: 1%;
                    }
                    &-text {
                        color: #fff;
                        font-size: 20px;
                        
                    }
                }
                .card_three-show {
                    left: 10%;
                    opacity: 1;
                    transition: left 2s, opacity 1s;
                }
            }
        }
    }
}