body {
  background: url(/src/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  width: 100%;
  height: 100%;
}

.container {
  width: 80%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  height: 100%;
}

.main__header {
  margin-top: 3%;
  width: 80%;
  height: 4rem;
  margin-left: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(70, 138, 199, 0.6);
}

.main__header-btn {
  border: none;
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 157%;
  color: #FFFFFF;
  letter-spacing: 4px;
  cursor: pointer;
  margin-right: 100px;
  margin-left: 100px;
}

.main__header-btn:hover {
  text-shadow: 7px 7px 6px rgba(0, 0, 0, 0.53);
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-left: 8%;
  height: 70%;
}

.main__content-circle {
  position: relative;
  width: 25%;
}

.main__content-circle-first {
  position: relative;
  top: 59%;
  left: 1%;
}

.main__content-circle-first .smooth {
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.main__content-circle-first .card_one {
  position: relative;
  top: -60%;
  left: -100rem;
  opacity: 0;
  -webkit-transition: opacity 2s, left 2s;
  transition: opacity 2s, left 2s;
  padding: 10px;
  width: 395px;
  height: 257px;
  background: rgba(196, 196, 196, 0.43);
}

.main__content-circle-first .card_one .dog_mini {
  position: absolute;
  top: 1%;
  right: 1%;
}

.main__content-circle-first .card_one-text {
  color: #fff;
  font-size: 20px;
}

.main__content-circle-first .card_one-show {
  left: -4%;
  opacity: 1;
  -webkit-transition: left 2s, opacity 2s;
  transition: left 2s, opacity 2s;
}

.main__content-circle-sec {
  position: relative;
  top: 6%;
  left: 4%;
}

.main__content-circle-sec .wire {
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.main__content-circle-sec .card_two {
  left: -100rem;
  opacity: 0;
  position: relative;
  -webkit-transition: opacity 2s, left 2s;
  transition: opacity 2s, left 2s;
  top: -60%;
  padding: 10px;
  width: 395px;
  height: 257px;
  background: rgba(196, 196, 196, 0.43);
}

.main__content-circle-sec .card_two .dog_mini {
  position: absolute;
  top: 1%;
  right: 1%;
}

.main__content-circle-sec .card_two-text {
  color: #fff;
  font-size: 20px;
}

.main__content-circle-sec .card_two-show {
  left: -4%;
  opacity: 1;
  -webkit-transition: left 2s, opacity 1s;
  transition: left 2s, opacity 1s;
}

.main__content-circle-thrd {
  position: relative;
  top: 69%;
  left: -3%;
}

.main__content-circle-thrd .long {
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.main__content-circle-thrd .card_three {
  position: relative;
  -webkit-transition: opacity 2s, left 2s;
  transition: opacity 2s, left 2s;
  top: -60%;
  left: -100rem;
  opacity: 0;
  padding: 10px;
  width: 395px;
  height: 257px;
  background: rgba(196, 196, 196, 0.43);
}

.main__content-circle-thrd .card_three .dog_mini {
  position: absolute;
  top: 0;
  right: 1%;
}

.main__content-circle-thrd .card_three-text {
  color: #fff;
  font-size: 20px;
}

.main__content-circle-thrd .card_three-show {
  left: 10%;
  opacity: 1;
  -webkit-transition: left 2s, opacity 1s;
  transition: left 2s, opacity 1s;
}
/*# sourceMappingURL=style.css.map */